In [1]:
import geopandas as gpd
import numpy as np
import pandas as pd
import csv
import unidecode
import math
import utm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def calculate_weighted_mean(data):
    data['FE_VIA'] = data['FE_VIA'].apply(lambda x: 1 if math.isnan(x) else x)
    data['FE_VIA'] = data['FE_VIA'].apply(lambda x: 1 if int(x) == 0 else x)
    data['MP'] = data['FE_VIA'] * data['DURACAO']
    return data

folder_data = "../data/"
arq17 = "dados17.csv"

data17 = pd.read_csv(folder_data + arq17, dtype={'ZONA_O': str, 'ZONA_D': str}, header=0,delimiter=";", low_memory=False) 
data17 = data17.dropna(subset=['CO_O_X'])

data17 = data17.drop(['ID_DOM', 'FE_DOM', 'VIA_BICI','TP_ESTBICI','F_FAM','FE_FAM','FAMILIA','NO_MORAF',
                      'CONDMORA','QT_BANHO','QT_EMPRE','QT_AUTO','QT_MICRO','QT_LAVALOU','QT_GEL1'], axis=1)

csv_file = folder_data + "regioes17.csv"
mydict = []
with open(csv_file, mode='r') as infile:
    reader = csv.reader(infile, delimiter=";")
    mydict = {rows[0]:rows[1] for rows in reader}

csv_file = folder_data + "zonas17.csv"
zonas_nomes = []
with open(csv_file, mode='r') as infile:
    reader = csv.reader(infile, delimiter=";")
    zonas_nomes = {rows[0]:rows[1] for rows in reader}
    
data17 = data17[data17['MUNI_O'] == 36]
data17 = data17[data17['MUNI_D'] == 36]

data17['NOME_O'] = data17['ZONA_O'].apply(lambda x: '' if pd.isnull(x) else mydict[x])
data17['NOME_D'] = data17['ZONA_D'].apply(lambda x: '' if pd.isnull(x) else mydict[x])

data17['ZONA_O'] = data17['ZONA_O'].apply(lambda x: '' if pd.isnull(x) else zonas_nomes[x])
data17['ZONA_D'] = data17['ZONA_D'].apply(lambda x: '' if pd.isnull(x) else zonas_nomes[x])

data17['NUM_TRANS'] = data17[['MODO1', 'MODO2','MODO3','MODO4']].count(axis=1)

data17 = calculate_weighted_mean(data17)

data17.head()

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,F_DOM,DOM,CD_ENTRE,DATA,TIPO_DOM,AGUA,...,TIPVG,PAG_VIAG,TP_ESAUTO,VL_EST,PE_BICI,ID_ORDEM,NOME_O,NOME_D,NUM_TRANS,MP
0,1,36,333743,7394463,1,1,1,6092017,1,1,...,3.0,NaN,NaN,NaN,1.0,1,Se,Se,1,221.32647
1,1,36,333743,7394463,0,1,1,6092017,1,1,...,3.0,NaN,NaN,NaN,1.0,2,Se,Se,1,221.32647
2,1,36,333743,7394463,0,1,1,6092017,1,1,...,1.0,2.0,NaN,NaN,NaN,3,Se,Pinheiros,1,944.12435
3,1,36,333743,7394463,0,1,1,6092017,1,1,...,1.0,2.0,NaN,NaN,NaN,4,Pinheiros,Perdizes,2,1132.94922
4,1,36,333743,7394463,0,1,1,6092017,1,1,...,2.0,NaN,NaN,NaN,NaN,5,Perdizes,Se,1,755.29948

In [3]:
modos17 = {0:'outros',1:'metro',2:'trem',3:'metro',4:'onibus',5:'onibus',6:'onibus',7:'fretado', 8:'escolar',9:'carro-dirigindo', 10: 'carro-passageiro', 11:'taxi', 12:'taxi-nao-convencional', 13:'moto', 14:'moto-passageiro', 15:'bicicleta', 16:'pe', 17: 'outros'}
data17['MODOPRIN'] = data17['MODOPRIN'].replace(modos17)

data17['MODOPRIN'].head()

0                       pe
1                       pe
2                    metro
3                    metro
4    taxi-nao-convencional
Name: MODOPRIN, dtype: object

In [4]:
modo_distri = data17[['MODOPRIN', 'NOME_O', 'FE_VIA']].groupby(['MODOPRIN','NOME_O']).sum().sort_values(by=['FE_VIA']).reset_index()
modo_distri.columns = ['MODOPRIN', 'NOME_O', 'FE_VIA_BIKE']
modo_distri = modo_distri[modo_distri['MODOPRIN'] == 'bicicleta']

modo_distri = modo_distri.set_index('NOME_O')


modo_distri

distrito = data17[['NOME_O', 'FE_VIA']].groupby(['NOME_O']).sum().sort_values(by=['FE_VIA']).reset_index()
distrito.columns = ['NOME_O', 'FE_VIA_TOTAL']
distrito = distrito.set_index('NOME_O')


modo_distri = modo_distri.join(distrito)

modo_distri = modo_distri.drop(['MODOPRIN'], axis=1)
modo_distri['PORCETAGEM'] = modo_distri['FE_VIA_BIKE'] / modo_distri['FE_VIA_TOTAL'] * 100
modo_distri.columns = ['Bicicleta', 'Total', 'Bicicleta (%)']
modo_distri = modo_distri.round(2)
modo_distri['Bicicleta'] = modo_distri['Bicicleta'].round(0)
modo_distri['Total'] = modo_distri['Total'].round(0)
modo_distri.sort_values(by=['Bicicleta (%)']).tail(10)

                Bicicleta     Total  Bicicleta (%)
NOME_O
Itaim Bibi        11245.0  547034.0           2.06
Pinheiros          8215.0  366260.0           2.24
Pari               1711.0   72105.0           2.37
Socorro            3062.0  118084.0           2.59
Iguatemi           6567.0  211175.0           3.11
Vila Maria         7304.0  227562.0           3.21
Ipiranga          10386.0  318122.0           3.26
Jaguare            3293.0   98784.0           3.33
Jardim Helena      8629.0  204378.0           4.22
Vila Guilherme     7184.0  147084.0           4.88

In [7]:

distrito_renda = data17[['NOME_O', 'RENDA_FA']].groupby(['NOME_O']).mean().sort_values(by=['RENDA_FA']).reset_index()
distrito_renda.columns = ['NOME_O', 'RENDA']
distrito_renda = distrito_renda.set_index('NOME_O')
distrito_renda

                           RENDA
NOME_O
Sao Rafael           2614.920579
Lajeado              2671.110391
Itaim Paulista       2769.636889
Cidade Tiradentes    2812.517945
Jardim Angela        2847.469419
Jaragua              2876.055420
Jose Bonifacio       2951.946452
Vila Jacui           2980.799235
Guaianases           3013.133915
Parelheiros          3041.357522
Cangaiba             3055.801314
Grajau               3095.105463
Brasilandia          3156.510088
Perus                3186.379186
Sapopemba            3280.609358
Marsilac             3311.625422
Iguatemi             3312.481316
Vila Curuca          3319.143396
Sao Lucas            3346.959024
Capao Redondo        3389.284922
Ermelino Matarazzo   3393.633276
Cidade Ademar        3418.158462
Pedreira             3474.331111
Artur Alvim          3495.832124
Itaquera             3506.511726
Jardim Sao Luis      3519.430161
Anhanguera           3525.498544
Jardim Helena        3545.777093
Sao Mateus           3608.460769
Cachoeirinha         3683.853359
...                          ...
Tatuape              5642.747254
Mandaqui             5917.828281
Tucuruvi             5938.093812
Jabaquara            6002.553526
Campo Grande         6005.065945
Santana              6146.734216
Cambuci              6153.497250
Liberdade            6205.045737
Se                   6435.849679
Republica            6646.768900
Barra Funda          6891.155003
Saude                6964.501432
Santa Cecilia        7175.823033
Santo Amaro          7614.052862
Bela Vista           7681.513972
Campo Belo           7939.196274
Vila Mariana         8035.916086
Lapa                 8249.342729
Vila Leopoldina      8476.532514
Vila Andrade         8643.846786
Moema                9018.635674
Jardim Paulista      9206.952800
Pinheiros            9282.198613
Butanta              9338.866968
Consolacao           9515.197666
Itaim Bibi           9526.298582
Vila Sonia          10073.413136
Perdizes            10462.756929
Alto de Pinheiros   11560.248316
Morumbi             12116.655444

[96 rows x 1 columns]

In [11]:
join = modo_distri.join(distrito_renda)
join

                   Bicicleta     Total  Bicicleta (%)         RENDA
NOME_O
Cidade Ademar           67.0  410738.0           0.02   3418.158462
Capao Redondo          269.0  475712.0           0.06   3389.284922
Tucuruvi               272.0  208975.0           0.13   5938.093812
Jabaquara              284.0  504911.0           0.06   6002.553526
Vila Medeiros          356.0  167625.0           0.21   4346.540190
Vila Matilde           434.0  188149.0           0.23   3803.812061
Campo Grande           472.0  260019.0           0.18   6005.065945
Brasilandia            485.0  376310.0           0.13   3156.510088
Cidade Tiradentes      660.0  360709.0           0.18   2812.517945
Guaianases             660.0  143364.0           0.46   3013.133915
Barra Funda            664.0  212750.0           0.31   6891.155003
Itaquera               691.0  357788.0           0.19   3506.511726
Rio Pequeno            722.0  172252.0           0.42   4599.465000
Casa Verde             724.0  189149.0           0.38   5223.078056
Carrao                 752.0  174239.0           0.43   4029.578667
Sao Miguel             764.0  189522.0           0.40   3711.109297
Cambuci                771.0  119363.0           0.65   6153.497250
Jardim Sao Luis        848.0  450746.0           0.19   3519.430161
Vila Sonia             991.0  207071.0           0.48  10073.413136
Belem                 1007.0  170637.0           0.59   4564.555111
Sao Lucas             1009.0  181949.0           0.55   3346.959024
Cidade Dutra          1041.0  359858.0           0.29   4175.803745
Pirituba              1129.0  253676.0           0.45   4528.214231
Liberdade             1145.0  258295.0           0.44   6205.045737
Itaim Paulista        1195.0  344271.0           0.35   2769.636889
Jacana                1202.0  147883.0           0.81   3708.950393
Se                    1214.0  315242.0           0.39   6435.849679
Raposo Tavares        1235.0  156555.0           0.79   4162.776962
Cangaiba              1265.0  214907.0           0.59   3055.801314
Cursino               1276.0  191230.0           0.67   4909.488932
...                      ...       ...            ...           ...
Sapopemba             2358.0  377154.0           0.63   3280.609358
Ponte Rasa            2475.0  123618.0           2.00   3836.172253
Santana               2575.0  381107.0           0.68   6146.734216
Penha                 2641.0  263627.0           1.00   4348.031953
Santa Cecilia         2764.0  237878.0           1.16   7175.823033
Bom Retiro            2785.0  143674.0           1.94   4914.575977
Mooca                 2913.0  244632.0           1.19   5484.991075
Socorro               3062.0  118084.0           2.59   5595.789039
Butanta               3124.0  187151.0           1.67   9338.866968
Vila Formosa          3126.0  195469.0           1.60   5212.740816
Jaguare               3293.0   98784.0           3.33   5119.364470
Freguesia do O        3378.0  273011.0           1.24   4149.523489
Lajeado               3562.0  222648.0           1.60   2671.110391
Jardim Paulista       3677.0  397583.0           0.92   9206.952800
Vila Prudente         3711.0  221888.0           1.67   4375.663514
Tremembe              3769.0  353133.0           1.07   3779.903084
Perdizes              3959.0  285387.0           1.39  10462.756929
Republica             4027.0  327202.0           1.23   6646.768900
Saude                 4053.0  336463.0           1.20   6964.501432
Grajau                4230.0  588177.0           0.72   3095.105463
Cidade Lider          4242.0  237123.0           1.79   3842.428179
Vila Mariana          4316.0  491212.0           0.88   8035.916086
Moema                 4766.0  324015.0           1.47   9018.635674
Iguatemi              6567.0  211175.0           3.11   3312.481316
Vila Guilherme        7184.0  147084.0           4.88   5156.412895
Vila Maria            7304.0  227562.0           3.21   4023.351303
Pinheiros             8215.0  366260.0           2.24   9282.198613
Jardim Helena         8629.0  204378.0           4.22   3545.777093
Ipiranga             10386.0  318122.0           3.26   5413.616760
Itaim Bibi           11245.0  547034.0           2.06   9526.298582

[84 rows x 4 columns]

In [10]:
join.corr()

               Bicicleta     Total  Bicicleta (%)     RENDA
Bicicleta       1.000000  0.190898       0.790813  0.190419
Total           0.190898  1.000000      -0.290611  0.069306
Bicicleta (%)   0.790813 -0.290611       1.000000  0.053798
RENDA           0.190419  0.069306       0.053798  1.000000